@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Inter", sans-serif;

    --color-bg: #121212;
    --color-card: #1e1e1e;
    --color-accent: #8b8b6b;
    --color-text: #e0e0e0;
    --color-muted: #a0a0a0;
}

body {
    font-family: var(--font-serif);
    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
}
